@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap")
layer(base);

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";

/* Import base styles */
@import "./base.css";

/* Import sidebar styles */
@import "./sidebar.css";

/* Import utility styles */
@import "./utilities.css";

/* Import component styles */
@import "./components.css";

/* Import third-party library styles */
@import "./third-party.css";

@plugin 'tailwindcss-animate';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source '../views';
@source "../../node_modules/flowbite";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
